.pedal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* color: rgba(0, 0, 0, 0.959); */
    border: 0.1vmin solid black;
    background-color: white;
    border-radius: 1vmin;
    cursor: pointer;
    width: 12vmin;
    height: 14vmin;
    background-size: cover;
    background-position: center;
}
  
.pedal:hover {
    border-color: blue;
    border-width: 0.3vmin;
    font-weight: bold;
  }
.pedal button:hover{
  background-color: red;
}

img {
  width: 100px;
}
.pedalInfoBox {
  border-radius: 0.5vmin;
  font-size: 0.7vmin;
}
.pedalButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.pedalButtonBox button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5vmin;
  font-size: 1vmin;
}