.pedal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.959);
    border: 4px solid black;
    background-color: white;
    border-radius: 1vmin;
    cursor: pointer;
    width: 200px;
    height: 230px;
    background-size: cover;
    background-position: center;
}
  
.pedal:hover {
    border-color: blue;
    border-width: 5px;
    font-weight: bold;
  }
.pedal button:hover{
  background-color: red;
}
.dltButton, .updateButton, .uploadButton {
    width: 80px;
    font-size: 8px;
}
.chooseFileButton {
    width: 150px;
}

img {
  width: 100px;
}
.pedalInfoBox {
  background-color: rgba(239, 239, 239);
  border-radius: 5px;
  font-size: 10px;
}
.pedalButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.pedalButtonBox button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  font-size: 10px;
}