.boardPage {
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 5fr;
    grid-column-start: 1;
    grid-column-end: 5;
}
.saveBoardBtn {
    height: 70px;
}

.saveBoardBtn:hover {
    background-color: gold;
}

.saveButtonDiv {
    grid-column-start: 4;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}