.boardPage {
    /* height: 120vmin; */
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 3fr;
    grid-column-start: 1;
    grid-column-end: 5;
}

.forms {
    grid-column-start: 1;
    grid-column-end: 5; 
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3vmin;
    font-size: 1.5vmin;
    flex-wrap: wrap;
}

.form5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardPage button, input, select {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 2vmin;
    height: 8vmin;
    border-radius: 1vmin;
    padding: 0.2vmin;
    border: solid 0.1vmin black;
}

.forms input, .select {
    width: 25vmin;
}

.forms button {
    width: 15vmin;
}

.saveBoardBtn:hover {
    background-color: rgb(178, 58, 134);
}

.clearBoardBtn, .saveBoardBtn, .deleteBoardBtn {
    background-color: lightgray;
}

.clearBoardBtn:hover {
    background-color: transparent;
}
.deleteBoardBtn:hover {
    background-color: rgb(220, 69, 64);
}
.chooseBoardBtn:hover {
    background-color: rgb(55, 125, 190);
}

