.board {
    background-color: black;
    height: 620px;
    border: solid 10px black;
    color: transparent;
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}
.board button {
    background-color: transparent;
    border-color: transparent;
}
.board button:hover {
    background-color: transparent;
}

.boardItem0 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px grey;
    height: 300px;
    width: auto;
    background-color: black;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.boardItem1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px grey;
    background-color: black;
    height: 300px;
    width: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.boardItem2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px grey;
    background-color: black;
    height: 300px;
    width: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
.boardItem3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px grey;
    background-color: black;
    height: 300px;
    width: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}
.boardItem4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px grey;
    background-color: black;
    height: 300px;
    width: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.boardItem5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px grey;
    background-color: black;
    height: 300px;
    width: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.boardItem6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px grey;
    background-color: black;
    height: 300px;
    width: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.boardItem7 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 5px grey;
    background-color: black;
    height: 300px;
    width: auto;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.boardItem0.selected, 
.boardItem1.selected, 
.boardItem2.selected, 
.boardItem3.selected, 
.boardItem4.selected, 
.boardItem5.selected, 
.boardItem6.selected, 
.boardItem7.selected {
    border-color: blue;
    cursor: default;
    font-weight: bold;
  }
.boardItem0:not(.selected):hover, 
.boardItem1:not(.selected):hover, 
.boardItem2:not(.selected):hover, 
.boardItem3:not(.selected):hover, 
.boardItem4:not(.selected):hover, 
.boardItem5:not(.selected):hover, 
.boardItem6:not(.selected):hover,  
.boardItem7:not(.selected):hover {
    border-color: blue;
    font-weight: bold;
  }
