.pedalList {
    background-color: transparent;
    display: flex;
    flex-direction: row-reverse;  
    justify-content: flex-end;
    align-items: flex-start;
    border: solid 5px grey;
    padding: 10px;
    border-radius: 10px;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;

}

.pedalList:hover {
    border: solid 5px blue;
}

.pedalListItems {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}