.pedalList {
    background-color: yellow;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 1vmin;
    grid-column-start: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 30vmin;
    font-size: 1vmin;
}