.newPedalForm {
    background: linear-gradient(rgb(213, 233, 250), rgb(191, 246, 247), rgb(202, 248, 240));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid .1vmin black;
    border-radius: 1vmin;
    width: 25vmin;
    padding: 5vmin;
}
.newPedalForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vmin;
}

.submitButton {
    background-color: lightgray;
}

.newPedalForm input, .submitButton, .chooseFileButton, select {
    width: 15vmin;
    font-size: 2vmin;
}

button:hover {
    background-color: rgb(99, 179, 90);
}

.logo2 {
    height: 12vmin;
}
h3 {
    font-size: 2vmin;
}
.chooseFileButton {
position: absolute;
opacity: 0;
z-index: 2;
height: 6vmin;
width: 15vmin;
}

p {
    font-size: 1.5vmin;
}

.sizeSelect {
    font-size: 2vmin;
}

#fakeButton {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: solid .1vmin black;
    border-radius: 1vmin;
    height: 6vmin;
    width: 15vmin;
    font-weight: bold;
} 
#fakeButton > img {
    height: 4vmin;
    width: 4vmin;
}

#fakeButton:hover {
    background-color: goldenrod;
}
