.PhotoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  
  .PhotoCard div {
    height: 5vmin;
    color: white;
    font-size: 3vmin;
    padding-bottom: .5vmin;
  }
  
  .PhotoCard img {
    width: 100%;
    border: .5vmin solid grey;
    border-bottom: none;
  }