/* CSS Custom Properties */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightGrey;
  padding: 2vmin;
  height: 100vh;
}

.smaller {
  font-size: smaller;
}

button {
  background-color: silver;
  font-weight: bold;
  border-radius: 1vmin;
  cursor: pointer;
}
